 
.productSection{
    background-color: aqua;
    padding: 50px 0px;
}

.productSection h2{
    text-align: center;
}
 
.productSection{
    max-width: 1170px;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
}
.productSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productItems{
    border: 1px solid #ddd; 
}
.productItems img{
    width: 100%;
    height: 100%; 
}

.productItems h3{
    text-align: center;
}